#bgc-carousel{
    display: $none;
    width: $pourcentHundred;
    height: $vhStandard * 261;
    background-color: rgba(0, 0, 0, 0.3);
    position: $positionA;
    top: $pourcentNul;
    z-index: $uniteStandard * 2;
        #carousel-container{
            width: $pourcentStandard * 67;
            height: $vhStandard * 80;
            top: $pourcentStandard * 10;
            position: $positionF;
            left: $pourcentStandard * 17;
            background-color: $light_color;
            .modalCarousel{
                box-shadow: 5px 0px 4px gray;
                position: $positionA;
                left: $pourcentStandard * 8.5;
                top: $pourcentStandard * 8;
                width: $remHundred / 2;
                height: $vhStandard * 65;
                    p{
                        margin: $uniteNul;
                        bottom: $remStandard;
                        color: $primary_color;
                    };
                    .divCarousel-multimedias img, .divCarousel-multimedias video{
                        width: $pourcentHundred;
                        height: $vhStandard * 65;
                        object-fit: $cover;
                    };
            }
            .bouton{
                position: $positionA;
                cursor: $pointer;
            };
            .carousel-prev{
                position: absolute;
                left: 2%;
                top: 50%;
                background-color: white;
                border: none;
                width: 4%;
                #g{
                    position: relative;
                    transform: rotate(180deg);
                    width: $pourcentStandard * 100;
                    filter: $bgc_button_carousel;
                };
            }
            .carousel-next{
                position: absolute;
                right: 2%;
                top: 50%;
                background-color: white;
                border: none;
                width: 4%;
                #d{
                    position: relative;
                    width: $pourcentStandard * 100;
                    filter: $bgc_button_carousel;
                };
            }
            .carousel-close{
                position: absolute;
                left: 93%;
                top: 8%;
                background-color: white;
                border: none;
                    #carousel-close{
                        cursor: $pointer;
                        width: $pourcentStandard * 50;
                        filter: $bgc_button_carousel;
                    };
            }
    };
};