/* ===========================
   FAUX SELECT — FILTRE
=========================== */
.section-filtre{
    display: flex;
    justify-content: start;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    align-items: center;
    .label-filtre{
    margin-right: 2rem;
    }
    .custom-select{
	position: relative;
	width: 170px;
	font-family: inherit;
        /* Bouton principal */
        .select-trigger {
            width: 100%;
            padding: 16px 20px;
            background-color: #8b2c24;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            /* Suppression focus navigateur */
            &:focus-visible,
            .select-list li:focus-visible {
                outline: 1px solid blue;
                outline-offset: 4px;
            }
            /* Flèche */
            & .arrow {
                width: 10px;
                height: 10px;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(45deg);
                transition: transform 0.2s ease;
            }
            /* Flèche ouverte */
            &[aria-expanded="true"] .arrow {
                transform: rotate(-135deg);
            }
        }
        /* Liste déroulante */
        .select-list {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #8b2c24;
            border-radius: 0 0 5px 5px;
            padding: 0;
            margin: 0;
            list-style: none;
            z-index: 10;
            /* Options */
            & li {
                padding: 16px 20px;
                color: #fff;
                font-size: 18px;
                cursor: pointer;
                /* Séparateurs */
                &:not(:last-child) {
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                }
                /* Hover + focus clavier */
                &:hover, &:focus {
                    background-color: #a43a32;
                    outline: none;
                }
            }

        }
    }
}

















